<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>Zyeeda Framework Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/spring-beans.xml</param-value>
    </context-param>

    <resource-ref>
        <description>Default Data Source</description>
        <res-ref-name>jdbc/defaultDS</res-ref-name>
        <res-type>javax.sql.XADataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>Drools Task Data Source</description>
        <res-ref-name>jdbc/droolsTaskDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>Attachment Data Source</description>
        <res-ref-name>jdbc/attachmentDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>User Transaction</description>
        <res-ref-name>UserTransaction</res-ref-name>
        <res-type>javax.transaction.UserTransaction</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>Transaction Manager</description>
        <res-ref-name>TransactionManager</res-ref-name>
        <res-type>javax.transaction.TransactionManager</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>Transaction Synchronization Registry</description>
        <res-ref-name>TransactionSynchronizationRegistry</res-ref-name>
        <res-type>javax.transaction.TransactionSynchronizationRegistry</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <listener>
        <listener-class>
            com.zyeeda.framework.web.ContextListener
        </listener-class>
    </listener>
    <!--
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    -->

    <!--
    <filter>
        <filter-name>Remote User Mock Filter</filter-name>
        <filter-class>com.zyeeda.framework.web.mock.RemoteUserMockFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Remote User Mock Filter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    -->

    <!-- 
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <display-name>Character Encoding Filter</display-name>
        <filter-class>com.zyeeda.framework.web.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->

    <filter>
        <filter-name>OSiVFilter</filter-name>
        <filter-class>com.zyeeda.framework.web.OpenSessionInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OSiVFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.zyeeda.framework.web.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!--
    <servlet>
        <servlet-name>OpenIdConsumer</servlet-name>
        <servlet-class>
            com.zyeeda.framework.web.demo.DemoOpenIdConsumerServlet
        </servlet-class>
        <init-param>
            <param-name>redirect.to.url</param-name>
            <param-value>/openid_redirect.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>return.to.url</param-name>
            <param-value>http://localhost:8080/accounts/openid/verify</param-value>
        </init-param>
        <init-param>
            <param-name>public.identifier</param-name>
            <param-value>http://yahoo.com</param-value>
            <param-value>https://www.google.com/accounts/o8/id</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenIdConsumer</servlet-name>
        <url-pattern>/accounts/openid/*</url-pattern>
    </servlet-mapping>
    -->
    
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
        </servlet-class>
        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                com.zyeeda.framework.ws.DictionaryService 
                com.zyeeda.framework.ws.DocumentService 
                com.zyeeda.framework.ws.DepartmentService 
                com.zyeeda.framework.ws.UserService 
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                com.zyeeda.framework.cxf.DedicatedJsonProvider
				com.zyeeda.framework.cxf.DateParameterHandler
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.transport.servlet.CXFServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    -->
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!-- 
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>security</web-resource-name>
            <url-pattern>/security/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    -->

    <mime-mapping>
        <extension>manifest</extension>
        <mime-type>test/manifest</mime-type>
    </mime-mapping>

</web-app>
